<h2>Swimmer Home</h2>

<p><a asp-action="AddProfile">Add or Edit Swimmer Profile</a></p>
<p><a asp-action="SwimmerAllSession">Sign up for a session</a></p>
<p><a asp-action="CheckGrade">Check progress report</a></p>
