<h1>Smith Swimming School</h1>
<h2>Administrator Home</h2>

<p><a asp-controller="Admin" asp-action="AllRole">Show all roles</a></p>
<p><a asp-controller="Admin" asp-action="AddRole">Add a role</a></p>
<p><a asp-controller="Account" asp-action="AllUser">Assign user to a role</a></p>
<p><a asp-controller="Admin" asp-action="AllLesson">Show all lessons</a></p>
<p><a asp-controller="Admin" asp-action="AddLesson">Add a lesson</a></p>
