<h1>Smith Swimming School</h1>
<h2>Registration Success</h2>

<p>Thank you for registration with Smith Swimming School. Your role will be assigned within the next 24 hours.</p>
<br />
<p>If you've already had a role assigned, please click the following link(s) for your role's Homepage.</p>

<p><a asp-controller="Admin" asp-action="Index">Administrator Homepage</a></p>
<p><a asp-controller="Coach" asp-action="Index">Coach Homepage</a></p>
<p><a asp-controller="Swimmer" asp-action="Index">Swimmer Homepage</a></p>