@model CourseProject.Models.Session
    <h1>Smith Swimming School</h1>
<h3>Edit the Session</h3>
<form asp-controller="Coach" asp-action="EditSession"
      method="post">
    <input asp-for="SessionId" type="hidden" />
    <label asp-for="SessionTitle">Session Name</label>
    <input asp-for="SessionTitle" />
    <br />
    <label asp-for="StartDate">Start Date</label>
    <input asp-for="StartDate" />
    <br />
    <label asp-for="EndDate">End Date</label>
    <input asp-for="EndDate" />
    <br />
    <label asp-for="SeatCapacity">Swimmer Capacity</label>
    <input asp-for="SeatCapacity" />
    <br />
    <label asp-for="DailyStartTime">Start Time</label>
    <input asp-for="DailyStartTime" />
    <br />
    <button type="submit">Update Session</button>
</form>
<p>
    <a asp-controller="Coach" asp-action="SessionByCoach">
        No, Back to list
    </a>
</p>
<p><a asp-action="Index">Back to Coach Home</a></p>